<p>Directives component!</p>
<h2 [ngStyle]="{'color': textColor}">Testing css inline directive (receiving dynamic color to set css color inline)</h2>
<h2 [ngClass]="cssClasses">Testing ngClass directive (receiving css classes by props) - makes the title big and red</h2>

<div>
    <h1>Conditional rendering using ngIf</h1>
    <button (click)="togleTextVisibility()">Togle on/off welcome message</button>
    <p *ngIf="isVisible; else textInvisible">Welcome to Angular</p>
    <ng-template #textInvisible>
        <h1>*****You have made the text invisible!!!!*****</h1>
    </ng-template>
</div>